.search-form {
  width: clamp(240px, 50vw, 600px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 1.5rem;
}

.search-form input {
  flex-grow: 1;
  min-width: 0;
  border: none;
  padding: var(--spacing-sm);
  padding-left: var(--spacing-md);
  border-top-left-radius: var(--spacing-sm);
  border-bottom-left-radius: var(--spacing-sm);
}

.search-form button {
  background-color: var(--color-black-200);
  color: var(--color-highlight);
  border: none;
  padding: var(--spacing-sm);
  border-top-right-radius: var(--spacing-sm);
  border-bottom-right-radius: var(--spacing-sm);
  transition: background-color var(--transition-fast);
  min-width: 40px;
}

.search-form button:hover {
  cursor: pointer;
  background-color: var(--color-black-100);
}

@media screen and (max-width: 700px) {
  .search-form {
    width: 70%;
  }

  .search-form input {
    padding: var(--spacing-sm);
  }
}

@media screen and (max-width: 375px) {
  .search-form {
    width: 90%;
  }
}
